body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  img {
    margin-top: 20px;
    border-radius: 50%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .repo {
    font-weight: bold;
  }