*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
body{
  background-color: aqua;
}
.mark-down{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: auto;
  gap: 20px;
  padding: 20px;

}
textarea{
  padding: 10px;
  height: 100vh;
  min-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 5px 25px;  
  border: none;
  outline: none;
}
.resault{
  padding: 10px;
  max-width: 100%;
  height: auto;
  background-color: #fff;
}
@media (max-width:768px){
  .mark-down{
    display: grid;
    grid-template-columns: 1fr;
  }

  textarea{
  height: 30vh;
  max-width: 100vh;
  
  }
  .resault{
   width: 100%;
   min-height: 50vh;
  }
}